/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Source Serif Pro', serif;*/
/*font-family: 'EB Garamond', serif;*/



/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Source Serif Pro', serif;*/
/*font-family: 'EB Garamond', serif;*/
.display{

  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;

}
.userslist{
text-align: center;
  padding: 0px;
}
.rating{
position: relative;
}
.votes{
  float:left;
  text-align: left;
  padding: 5px;
  position: relative;
  width:650px;
  margin-top: 8px;
  height: 45px;
}
#thumbup{

  font-size:130%;
  float: left;
  margin-top: 8px;
  margin-right: 7px;
  width: 15px;
}
.thumb{
  padding: 5px;

  float: left;
  width:55px;
margin-top: 8px;
  margin-bottom: 2px;
}
.vote1{
  margin-bottom: 415px;
  margin-top: 8px;

}
#thumbup:hover{
  color: orangered;
  cursor: pointer;
}
#thumbdown{
  color: deepskyblue;
  font-size:130% ;
  float: left;
  margin-top: 8px;
  margin-right: 7px;
  width: 15px;
}
#thumbdown:hover{
  color: black;
  cursor: pointer;
}
.whole{
  width: 715px;
}
.userslist{
  list-style-type: none;
}
.delete{
 position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 0px;
  height: 35px;
  margin-bottom: 4px;
}
#contentr{
font-style: italic;
  font-size: 95%;
}
.humans{
  margin-top: 25px;
  text-align: left;
}
.people{
  font-weight: bold;
  font-size: 75%;
}
