<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Libre+Baskerville|Lora|Playfair+Display|Source+Serif+Pro&display=swap"
      rel="stylesheet">
<div class="row heading">
  <div class="col-md-12 head">
    <div class="nav navbar">
      <ul class="nav nav-tabs mr-auto">
        <li role="presentation" class="navbar-brand nav-item">Quotify</li>
        <li role="presentation" class="nav-item"><a  class="nav-link" href="#">Home</a></li>
        <li role="presentation" class="nav-item"><a  class="nav-link"  href="#">About</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
      </ul>
    </div>


  </div>
</div>
<div class="container">

  <div class="row">

    <div class="col-md-12 inputs">

      <form  (ngSubmit)="submitted(forms,content.value,user.value,author.value)"   class="quote" #forms="ngForm">
        <div class="form-group">
          <label for="content">Quote</label>
          <textarea class="form-control" id="content" ngModel type="text" name="content" #content></textarea>
          <label for="User"> Your Name</label>
          <input class="form-control user"  type="text" id="user" name="user" #user="ngModel" ngModel required #user="ngModel" >
          <p class="warning"><span *ngIf="!user.valid && (user.touched || user.untouched) && forms.submitted">Please enter your name</span></p>
          <label for="author">Source</label>
          <input class="form-control" type="text" ngModel id="author" name="author" #author>


          <input type="submit"   #submit value="Display Quote" id="showquotes" class="btn btn-dark">
        </div>

      </form>
    </div>


  </div>
<!--  <div class="votes">-->

<!--    <p class="thumb"><i id="thumbup"  class="material-icons">thumb_up</i><span class="vote1">1</span></p>-->
<!--    <p class="thumb"><i id="thumbdown" class="material-icons">thumb_down</i><span clas="vote1">2</span></p>-->
<!--    </div>-->


<!--  </div>-->




<app-displayquotes [users]="userdata" ></app-displayquotes>
