/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Source Serif Pro', serif;*/
/*font-family: 'EB Garamond', serif;*/
.inputs{
  justify-content: center;
  display: flex;

  margin-left: auto;
  margin-right: auto;
}
input{
  width:700px;
}
label{
  font-size:120%;
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}
.navbar-brand{
  font-size:190%;
}
.navy{
  margin-bottom: 0px;

}
.brand{
  font-size: 150%;
  padding-bottom:45px;
}
.heading{
  font-family: 'Playfair Display', serif;
  color: black;
  margin-left: auto;
  margin-right: auto;

  width:700px;
}
form{
  font-family: 'EB Garamond', serif;
}
.warning{
  color: red;
}
.ng-invalid.user.ng-touched{
  border-color: red;
  border-style: solid;
  border-width: thin;
}
.heading a{
  color: black;
}

.head a {
  color: black;
}
.head{
  color: black;
}
#showquotes{
  width: 150px;
  margin-top: 25px;
}
.warning {
  color: red;
}
/*.votes{*/
/*float:left;*/
/*  text-align: left;*/
/*  padding: 5px;*/
/*}*/
/*#thumbup{*/

/*  font-size:100%;*/
/*  float: left;*/
/* margin-top: 4px;*/
/*  margin-right: 7px;*/
/*  width: 15px;*/
/*}*/
/*.thumb{*/
/*  padding: 5px;*/

/* float: left;*/
/*  width:55px;*/

/*  margin-bottom: 5px;*/
/*}*/
/*.vote1{*/
/*  margin-bottom: 415px;*/
/*}*/
/*#thumbup:hover{*/
/*  color: orangered;*/
/*}*/
/*#thumbdown{*/
/*  color: deepskyblue;*/
/*  font-size:100% ;*/
/*  float: left;*/
/*margin-top: 4px;*/
/*  margin-right: 7px;*/
/*  width: 15px;*/
/*}*/
/*#thumbdown:hover{*/
/*  color: black;*/
/*}*/
